<article class="p-8 w-full table mx-auto" style="max-width: 768px;">
    <h1 class="font-normal text-4xl text-black">About <%=title%></h1>
    <section class="mt-8">
        <p>
            <%=title%> Is A Blog Demonstrating how Segar works.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, quibusdam. Consectetur illum libero dicta cum qui officia aliquid veritatis dolorem eaque, maiores accusamus vero illo ea, temporibus laudantium quo ab?
        </p>
    </section>
</article>