<article class="p-8 w-full table mx-auto" style="max-width: 768px;">
    <h1 class="font-normal text-4xl text-black">About Me</h1>
    <section class="mt-8">
        <p>
            <h2 class="font-normal text-2xl mb-2">Dhika Rizky</h2>
            Currently lives in Bekasi, Indonesia.
        </p>
        <p>
            Hobby: Watching anime, scrolling through Facebook, playing games, writing some codes, spamming my GitHub or GitLab repos' commit log, listening song, looking at the postcard that comes with my <a href="http://www.cdjapan.co.jp/product/VVCL-1166">Haru ni Aisareru Hito ni Watashi wa Naritai</a> CD.
        </p>
        <p>
            <h2 class="font-normal text-xl mb-2">Contacts</h2>
            <span class="block">Email: deka_r@outlook.com</span>
            <span class="block">LinkedIn: <a href="https://www.linkedin.com/in/stevemc4/">Dhika Rizky</a></span>
            <span class="block">GitHub: <a href="https://github.com/stevemc4">stevemc4</a></span>
            <span class="block">GitLab: <a href="https://gitlab.com/stevemc4">stevemc4</a></span>
        </p>
    </section>
</article>