<div class="p-8 bg-blue-darker h-64 text-white flex items-center">
    <div class="mx-auto table text-center">
        <h1 class="font-normal text-2xl"><%=title%></h1>
        <span class="font-normal text-lg mt-2 block">A piece of an aspiring weeb developer's dream</span>
    </div>
</div>
<div class="p-8 mt-4">
    <span class="font-normal text-4xl">Hello There!</span>
    <p class="mt-4">Welcome to my site! I'm Dhika Rizky, a developer from Indonesia. Feel free to see my projects and posts!</p> 
</div>
<div class="p-8 mt-4">
    <span class="font-normal text-4xl">Projects</span>
    <div class="flex flex-wrap -mx-4 mt-2">
        <div class="w-full p-2 md:w-1/2 lg:w-1/3 h-48">
            <div class="border rounded-lg p-4 h-full w-full relative">
                <span class="font-normal text-xl">SeiyuuBase</span>
                <p class="mt-2 text-sm">Fuel your inner weeb by feeding yourself with some seiyuu information</p>
                <div class="absolute pin-b mb-4">
                    <a class="font-normal no-underline text-grey-darker mt-2 inline-block" href="https://seiyuubase.netlify.com">App Page</a>
                    <a class="font-normal no-underline text-grey-darker mt-2 ml-3 inline-block" href="https://github.com/stevemc4/seiyuubase">GitHub</a>
                </div>
            </div>
        </div>
        <div class="w-full p-2 md:w-1/2 lg:w-1/3 h-48">
            <div class="border rounded-lg p-4 h-full w-full relative">
                <span class="font-normal text-xl">Segar</span>
                <p class="mt-2 text-sm">Static blog generator. Fun fact: this site is made by Segar</p>
                <div class="absolute pin-b mb-4">
                    <a class="font-normal no-underline text-grey-darker mt-2 inline-block" href="https://github.com/stevemc4/segar">GitHub</a>
                </div>
            </div>
        </div>
        <div class="w-full p-2 md:w-1/2 lg:w-1/3 h-48">
            <div class="border rounded-lg p-4 h-full w-full relative">
                <span class="font-normal text-xl">String</span>
                <p class="mt-2 text-sm">A social media aimed for students and academician</p>
                <div class="absolute pin-b mb-4">
                    <a class="font-normal no-underline text-grey-darker mt-2 inline-block" href="https://string.herokuapp.com/beta">App Page</a>
                </div>
            </div>
        </div>
    </div>
</div>