<article class="p-8 w-full table mx-auto" style="max-width: 768px;">
    <h1 class="font-normal text-4xl text-black"><%=post.title%></h1>
    <section class="mt-8">
        <%-post.content%>
    </section>
</article>